<div class="container" ng-controller="RetragereIstoricArhiva as ctrl">

	<div class="box-border">
		<form name="frmRetragere" class="hide-css-required" novalidate>

			<table class="full-width mt6" id="tableForm">

				<!-- START - formular solicitare -->
				<tr>
					<td colspan="6" class="cBlue1 text-left"><span>Detalii solicitare</span></td>
				</tr>

				<tr>
					<td class="text-left">Numar inregistrare</td>
					<td class="text-left">
						<input class="form-control" ng-value="'R' + ctrl.model.year + '-#####'" readonly>
					</td>
					<td class="text-left">Data inregistrare</td>
					<td class="text-left">
						<input class="form-control" ng-value="ctrl.now | date:'dd.MM.yyyy HH:mm'" readonly>
					</td>
				</tr>

				<tr>
					<td class="text-left">Motiv</td>
					<td class="text-left">
						<select class="form-control" ng-model="ctrl.model.motiv_retragere" name="motiv_retragere"
							ng-options="m for m in ctrl.optMotiv" required>
							<option value="">Selecteaza...</option>
						</select>
						<div class="input-error-text" ng-show="frmRetragere.motiv_retragere.$touched
								&& frmRetragere.motiv_retragere.$error.required">
							Acest camp este obligatoriu
						</div>
					</td>

					<td class="text-left">Status</td>
					<td class="text-left">
						<input class="form-control" ng-model="ctrl.model.status_preview" readonly>
					</td>
				</tr>

				<tr>
					<td class="text-left">Modalitate livrare</td>
					<td class="text-left">
						<select class="form-control" ng-model="ctrl.model.modalitate_livrare" name="modalitate_livrare"
							ng-options="m for m in ctrl.optLivrare" required>
							<option value="">Selecteaza...</option>
						</select>
						<div class="input-error-text" ng-show="frmRetragere.modalitate_livrare.$touched
								&& frmRetragere.modalitate_livrare.$error.required">
							Acest camp este obligatoriu
						</div>
					</td>

					<td class="text-left">Urgent</td>
					<td class="text-left">
						<input type="checkbox" class="arh-checkbox" ng-model="ctrl.model.urgent">
					</td>
				</tr>

				<tr>
					<td class="text-left">Departament</td>
					<td class="text-left" style="max-width: 150px;">
						<ui-select ng-model="ctrl.model.departament">
						<ui-select-match placeholder="Selecteaza..." ng-attr-title="{{$select.selected.nume}}">{{$select.selected.nume}}</ui-select-match>
						<ui-select-choices repeat="d in ctrl.optiuniDepartament | filter: $select.search">
							<div ng-bind="d.nume"></div>
						</ui-select-choices>
						</ui-select>
						
						<div class="input-error-text" ng-show="ctrl.submitted && !ctrl.comanda.departament">
							Acest camp este obligatoriu
						</div>
					</td>
				</tr>

				<tr>
					<td colspan="6" class="text-left">Observatii</td>
				</tr>
				<tr>
					<td colspan="6" class="text-left">
						<textarea class="form-control" ng-model="ctrl.model.observatii">
						</textarea>
					</td>
				</tr>

				<tr>
					<td colspan="6" class="padd-bottom0">
						<!-- <div class="box-bottom padd-bottom10"> -->
						<div class="box-bottom padd-bottom10">
							<button type="button" class="btn-def hover-green"
								ng-click="ctrl.addSolicitare()">Inregistreaza</button>
							<button type="button" class="btn-def hover-red"
								ng-click="ctrl.anuleazaSolicitare()">Anuleaza</button>
						</div>
					</td>
				</tr>

				
				<!-- END - formular solicitare -->

				<!-- START - cautare documente -->

				<tr>
					<td colspan="6" class="cBlue1 text-left"><span>Cautare documente istoric arhiva</span></td>
				</tr>

				<tr>
					<td colspan="6" style="padding-top: 6px;">
						<table style="width: 100%;">
							<tr>
								<!-- STANGA: filtre + date -->
								<td style="vertical-align: top;">
									<table style="border-left: 2px solid #81b1ec;">
										<tbody>

											<!-- RAND 1: Data/Ora Inregistrare - START -->
											<tr>
												<td>
													<table class="table-hover"
														style="border-left: 2px solid #8fff62;
                                                                  background: linear-gradient(122deg, #ecffe5 0%, rgba(0,255,51,0) 31%);">
														<tbody>
															<tr>
																<td>
																	<select class="form-control"
																		style="min-width: 200px; margin: 0;" disabled>
																		<option>Data/Ora Inregistrare</option>
																	</select>
																</td>
																<td>
																	<select class="form-control"
																		style="min-width: 200px; margin: 0;"
																		ng-model="ctrl.model.data_inceput_op" disabled>
																		<option value=">=">Mai mare sau egal cu</option>
																	</select>
																</td>
																<td style="min-width: 240px;">
																	<div style="display:flex; align-items:center;">
																		<input type="date" class="form-control"
																			style="max-width: 180px; display:inline-block;"
																			min="1900-01-01" max="2100-12-31"
																			ng-model="ctrl.model.data_inceput">

																		<!-- <input type="number" min="0" max="23"
																			placeholder="HH" class="form-control"
																			style="width: 60px; margin-left:6px;"
																			ng-model="ctrl.model.data_inceput_hh">
																		<span
																			style="padding: 0 4px; margin: 0;">:</span>
																		<input type="number" min="0" max="59"
																			placeholder="MM" class="form-control"
																			style="width: 60px;"
																			ng-model="ctrl.model.data_inceput_mm"> -->
																	</div>
																</td>
																<td style="width: 60px;"></td>
																<td style="width: 40px;"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

											<!-- RAND 2: Data/Ora Inregistrare - END -->
											<tr>
												<td>
													<table class="table-hover"
														style="border-left: 2px solid #8fff62;
                                                                  background: linear-gradient(122deg, #ecffe5 0%, rgba(0,255,51,0) 31%);">
														<tbody>
															<tr>
																<td>
																	<select class="form-control"
																		style="min-width: 200px; margin: 0;" disabled>
																		<option>Data/Ora Inregistrare</option>
																	</select>
																</td>
																<td>
																	<select class="form-control"
																		style="min-width: 200px; margin: 0;"
																		ng-model="ctrl.model.data_sfarsit_op" disabled>
																		<option value="<=">Mai mic sau egal cu</option>
																	</select>
																</td>
																<td style="min-width: 240px;">
																	<div style="display:flex; align-items:center;">
																		<input type="date" class="form-control"
																			style="max-width: 180px; display:inline-block;"
																			min="1900-01-01" max="2100-12-31"
																			ng-model="ctrl.model.data_sfarsit">

																		<!-- <input type="number" min="0" max="23"
																			placeholder="HH" class="form-control"
																			style="width: 60px; margin-left:6px;"
																			ng-model="ctrl.model.data_sfarsit_hh">
																		<span
																			style="padding: 0 4px; margin: 0;">:</span>
																		<input type="number" min="0" max="59"
																			placeholder="MM" class="form-control"
																			style="width: 60px;"
																			ng-model="ctrl.model.data_sfarsit_mm"> -->
																	</div>
																</td>
																<td style="width: 60px;"></td>
																<td style="width: 40px;"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

											<!-- GRUPURI OR (linie intrerupta intre ele) -->
											<tr ng-repeat="group in ctrl.filterGroups track by $index"
												ng-init="gIndex = $index">
												<td>
													<table class="table-hover"
														style="border-left: 2px solid #8fff62;
                                                                  background: linear-gradient(122deg, #ecffe5 0%, rgba(0,255,51,0) 31%);"
														ng-style="{'margin-top': ($first ? '10px' : '20px')}">
														<tbody>
															<!-- FILTRE AND in același grup (linie verde neintrerupta) -->
															<tr ng-repeat="f in group track by $index"
																ng-init="idx = $index">
																<td>
																	<select class="form-control"
																		style="min-width: 200px; margin: 0;"
																		ng-model="f.column"
																		ng-options="c.key as c.label for c in ctrl.allowColumns">
																		<option value="">Selecteaza...</option>
																	</select>
																</td>

																<td>
																	<select class="form-control" style="margin: 0;"
																		ng-model="f.op"
																		ng-options="o.code as o.label for o in ctrl.opOptions">
																	</select>
																</td>

																<td style="min-width: 240px;">
																	<input class="form-control"
																		style="min-width: 200px; margin: 0;"
																		ng-model="f.value" placeholder="valoare"
																		ng-disabled="f.op === 'IS_EMPTY' || f.op === 'IS_NOT_EMPTY'">
																</td>

																<!-- PLUS VERDE: AND in același grup -->
																<td style="position:relative; width:60px;">
																	<span
																		style="position: absolute; bottom: -3px; cursor: pointer;"
																		ng-click="ctrl.addOrFilter(gIndex)"
																		ng-if="$last">
																		<span
																			style="font-size: 30px; color: #8fff62;">+</span>
																	</span>
																</td>

																<!-- X: șterge filtru -->
																<td style="width:40px;">
																	<span style="font-size: 20px; cursor: pointer;"
																		ng-click="ctrl.removeFilter(gIndex, idx)">
																		✕
																	</span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

										</tbody>
									</table>
								</td>

								<!-- DREAPTA: plus albastru = OR (grup nou) -->
								<td style="width: 450px; position: relative; vertical-align: bottom;">
									<span style="position: absolute; bottom: 0; cursor: pointer;"
										ng-click="ctrl.addAndGroup()">
										<span style="font-size: 40px; color: #81b1ec;">+</span>
										<span style="font-size: 14px; padding: 0 5px; line-height: normal;
                                                     margin-top: 20px; float: right; display: inline-block;">
											Adauga filtru
										</span>
									</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<!-- END - cautare documente -->

				<tr>
					<td colspan="6" class="padd-bottom0">
						<!-- <div class="box-bottom padd-bottom10"> -->
						<div class="box-bottom padd-bottom10">
							<!-- IMPORTANT: reset page on new search -->
							<button type="button" class="btn-def hover-blue" ng-click="ctrl.search(true)">Cauta</button>

							<!-- <a type="button" class="btn-def hover-red"
                               ng-click="ctrl.results=[]; ctrl.selectedUuid=null;">
                                Anuleaza
                            </a> -->

							<!-- <button type="button" class="btn-def hover-green" style="float:right" -->
							
						</div>
					</td>
				</tr>

				<!-- Results grid -->
				<tr>
					<td colspan="6">
						<div class="arh-table-wrapper">
							<table class="table table-sm table-striped table-hover align-middle table-arhiva">
								<thead class="table-dark">
									<tr>
										<th style="width:40px;"></th>
										<th>SKP</th>
										<th>Cod Cutie</th>
										<th>Tip Produs</th>
										<th style="width: 100px;">Tip Contract</th>
										<th>Localitate</th>
										<th>CRC</th>
										<th style="width: 100px;">Sumar</th>
										<th>Tip Doc</th>
										<th>Data arhivare</th>
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat="r in ctrl.results">

										<td class="text-center">
											<input type="checkbox" class="arh-checkbox" ng-checked="ctrl.isSelected(r)"
												ng-click="ctrl.toggleSelect(r)">
										</td>

										<td title="{{ r.cod_cutie_obiect }}">{{ r.cod_cutie_obiect }}</td>
										<td title="{{ r.cod_obiect }}">{{ r.cod_cutie_obiect }}</td>
										<td title="{{ r.Tip_Produs }}">{{ r.Tip_Produs }}</td>
										<td title="{{ r.Tip_Contract }}">{{ r.Tip_Contract }}</td>
										<td title="{{ r.Localitate }}">{{ r.Localitate }}</td>
										<td title="{{ r.CRC }}">{{ r.CRC }}</td>
										<td title="{{ r.sumar }}">{{ r.sumar }}</td>
										<td title="{{ r.tip_doc_cod_arh }}">{{ r.tip_doc_cod_arh }}</td>
										<td title="{{ r.data_creare | date:'yyyy' }}">
											{{ r.data_creare | date:'yyyy' }}
										</td>

									</tr>

									<tr ng-if="!ctrl.results || !ctrl.results.length">
										<td colspan="10" class="text-center">
											Nu exista rezultate pentru criteriile selectate.
										</td>
									</tr>
								</tbody>

							</table>
						</div>

						<!-- Pagination controls -->
						<div class="arh-pager" ng-if="ctrl.pagination.total > ctrl.pagination.pageSize">

							<!-- LEFT: page size -->
							<div class="arh-page-size">
								<label style="margin-bottom:0; font-weight: normal;">
									Elemente pe pagina:
									<select class="form-control input-sm page-size-select"
										ng-model="ctrl.pagination.pageSize" ng-options="s for s in [5, 10, 15, 20, 25]"
										ng-change="ctrl.changePageSize()">
									</select>
								</label>
							</div>

							<!-- CENTER: page info -->
							<div class="arh-page-info">
								Pagina {{ ctrl.pagination.pageIndex + 1 }}
								din {{ ctrl.totalPages() }}
								({{ ctrl.pagination.total }} rezultate)
							</div>

							<!-- RIGHT: prev / next -->
							<div class="arh-page-buttons">
								<button type="button" class="btn btn-default btn-sm" ng-click="ctrl.prevPage()"
									ng-disabled="!ctrl.canPrev()">
									« Inapoi
								</button>

								<button type="button" class="btn btn-default btn-sm" ng-click="ctrl.nextPage()"
									ng-disabled="!ctrl.canNext()">
									Inainte »
								</button>
							</div>

						</div>


					</td>
				</tr>

				<!-- Accordion: Elemente selectate -->
				<tr>
					<td colspan="6">
						<div class="arh-accordion">

							<!-- Header -->
							<div class="arh-accordion-header"
								ng-click="ctrl.showSelectedAccordion = !ctrl.showSelectedAccordion">
								<span class="arh-accordion-icon">
									<span ng-if="ctrl.showSelectedAccordion">&#9660;</span> <!-- ▼ -->
									<span ng-if="!ctrl.showSelectedAccordion">&#9656;</span> <!-- ▶ -->
								</span>
								<span>Elemente selectate ({{ ctrl.getSelectedUuids().length }})</span>
							</div>

							<!-- Body -->
							<div class="arh-accordion-body" ng-show="ctrl.showSelectedAccordion">

								<div ng-if="!ctrl.getSelectedUuids().length"
									class="text-muted"
									style="padding: 10px 15px;">
									Nu exista elemente selectate.
								</div>

								<div ng-if="ctrl.getSelectedUuids().length">
									<table class="table table-sm table-striped table-hover align-middle small-table">
										<thead>
											<tr>
												<th>SKP</th>
												<th>Cod Cutie</th>
												<th>Tip Produs</th>
												<th>Tip Contract</th>
												<th>Localitate</th>
												<th>CRC</th>
												<th>Tip Doc</th>
												<th>Data arhivare</th>
												<th style="width: 70px; text-align:center;">Actiune</th>
											</tr>
										</thead>
										<tbody>
											<!-- (uuid, row) iteration over selectedDocs -->
											<tr ng-repeat="(uuid, row) in ctrl.selectedDocs">
												<td>{{ row.cod_cutie_obiect }}</td>
												<td>{{ row.cod_cutie_obiect }}</td>
												<td>{{ row.Tip_Produs }}</td>
												<td>{{ row.Tip_Contract }}</td>
												<td>{{ row.Localitate }}</td>
												<td>{{ row.CRC }}</td>
												<td>{{ row.tip_doc_cod_arh }}</td>
												<td>{{ row.data_creare | date:'yyyy' }}</td>

												<td class="text-center">
													<span class="arh-remove-selected"
														ng-click="ctrl.removeSelected(uuid, $event)"
														title="Elimina din selectie">
														✕
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</td>
				</tr>

			</table>
		</form>
	</div>
</div>