USE [Lucru_EON]
GO
/****** Object:  Table [dbo].[arh_arhiva_recurenta]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_arhiva_recurenta](
	[skp] [nvarchar](100) NULL,
	[cod_nlc] [nvarchar](100) NULL,
	[numar_contract] [nvarchar](100) NULL,
	[cod_client] [nvarchar](100) NULL,
	[data_arhivare] [nvarchar](50) NULL,
	[uuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_arh_arhiva_recurenta_uuid] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_departament]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_departament](
	[Id] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_punct_colectare_alte_documente]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_punct_colectare_alte_documente](
	[Id] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_punct_colectare_crc]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_punct_colectare_crc](
	[Id] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_retragere_arhiva]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_retragere_arhiva](
	[numar_comanda] [nvarchar](32) NOT NULL,
	[data_inceput] [nvarchar](32) NULL,
	[data_sfarsit] [nvarchar](32) NULL,
	[tip_operatiune] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[crc] [nvarchar](100) NULL,
	[departament] [nvarchar](200) NULL,
	[termen_livrare] [nvarchar](32) NULL,
	[user_name] [nvarchar](255) NULL,
	[related_uuid] [uniqueidentifier] NOT NULL,
	[motiv_retragere] [nvarchar](max) NULL,
	[urgent] [nvarchar](20) NULL,
	[modalitate_livrare] [nvarchar](50) NULL,
	[tip_doc_cod_arh] [nvarchar](max) NULL,
	[observatii] [nvarchar](max) NULL,
	[group_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_arh_retragere_documente] PRIMARY KEY CLUSTERED 
(
	[numar_comanda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_ridicare_arhiva]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_ridicare_arhiva](
	[numar_inregistrare] [nvarchar](32) NOT NULL,
	[companie] [nvarchar](max) NOT NULL,
	[data_inregistrare] [nvarchar](max) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[tip_arhiva] [nvarchar](max) NOT NULL,
	[numar_buc] [nvarchar](max) NULL,
	[departament] [nvarchar](max) NOT NULL,
	[crc] [nvarchar](max) NOT NULL,
	[punct_colectare_alte_doc] [nvarchar](max) NULL,
	[descriere] [nvarchar](max) NULL,
	[user_name] [nvarchar](max) NOT NULL,
	[group_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_arh_ridicare_arhiva] PRIMARY KEY CLUSTERED 
(
	[numar_inregistrare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_ridicare_arhiva_status]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_ridicare_arhiva_status](
	[Id] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_tip_arhiva]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_tip_arhiva](
	[Id] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arh_users]    Script Date: 28/11/2025 08:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_users](
	[utilizator] [nvarchar](200) NOT NULL,
	[kid] [nvarchar](20) NOT NULL,
	[adresa_email] [nvarchar](200) NOT NULL,
	[rol] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[arh_departament] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[arh_punct_colectare_alte_documente] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[arh_punct_colectare_crc] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[arh_ridicare_arhiva_status] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[arh_tip_arhiva] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Table [dbo].[arh_istoric_arhiva_documente]    Script Date: 28/11/2025 08:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arh_istoric_arhiva_documente](
	[cod_cutie_obiect] [nvarchar](max) NULL,
	[cod_obiect] [nvarchar](max) NULL,
	[Tip_Produs] [nvarchar](200) NULL,
	[Tip_Contract] [nvarchar](200) NULL,
	[CRC] [nvarchar](max) NULL,
	[Localitate] [nvarchar](max) NULL,
	[sumar] [nvarchar](max) NULL,
	[gama_de_la] [nvarchar](max) NULL,
	[gama_pana_la] [nvarchar](max) NULL,
	[tip_doc_cod_arh] [nvarchar](max) NULL,
	[tip_pastrare] [nvarchar](max) NULL,
	[data_creare] [nvarchar](max) NULL,
	[locatie_geografica] [nvarchar](max) NULL,
	[divizie] [nvarchar](max) NULL,
	[departament] [nvarchar](max) NULL,
	[uuid] [uniqueidentifier] NOT NULL,
	[skp] [nvarchar](100) NULL,
 CONSTRAINT [PK_arh_istoric_arhiva_documente] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_arh_istoric_arhiva_documente_uuid] UNIQUE NONCLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[arh_istoric_arhiva_documente] ADD  CONSTRAINT [DF_arh_istoric_arhiva_documente_uuid]  DEFAULT (newsequentialid()) FOR [uuid]
GO


